<ng-template #content let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Moviment Detail</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
    <div class="row">
      <label for="conto">Conto Corrente :</label>
      <label class="conto">{{movimento!.contoCorrente.iban}}</label>
      <label for="data">Data esecuzione movimento:</label>
      <label class="data">{{movimento!.data}}</label>
    </div>
    <div class="row">
      <label for="importo">Importo :</label>
      <label class="importo">{{movimento!.importo}}</label>
      <label for="saldo">Saldo :</label>
      <label class="saldo">{{movimento!.saldo}}</label>
    </div>
    <div class="row">
      <label for="categoria">Categoria del movimento :</label>
      <label class="categoria">{{movimento!.categoriaMovimento.tipologia}}</label>
    </div>
    <div class="row">
      <label for="descrizione">Descrizione del movimento :</label>
      <textarea class="descrizione" disabled="true">
        {{movimento!.descrizioneEstesa}}
      </textarea>
    </div>
	</div>
</ng-template>
<button (click)="open(content)">
  Dettaglio Movimento
</button>