<div class="container mt-5">
  <div class="row align-items-center justify-content-between p-4 header-custom shadow-sm rounded">
    <div class="col">
      <h2 class="display-4 fw-bold">BENVENUTO <br>{{ (currentUser$ | async)!.fullName }}!</h2>
    </div>
    <div class="col text-end">
      <h3 class="saldo-text purple-text">SALDO ATTUALE: <span>{{ (conto$ | async)!.saldo | currency:'EUR' }}</span></h3>
    </div>
  </div>
</div>
<div class="container mt-3" *ifAuthenticated>
  <div class="row mt-2 justify-content-center"> 
    <div class="col-12 col-md-8 mb-4">
      <div class="d-flex justify-content-between align-items-center">
        <h4 class="purple-text mb-0">Ultimi 5 Movimenti</h4>
        <button class="btn btn-outline-primary" (click)="navigateToMovimenti()">
          Vai a tutti i Movimenti
        </button>
      </div>
    </div>
    <ng-container *ngIf="(movimenti$ | async)!.length > 0; else noMovimenti">
      <div class="col-12 col-md-8 mb-4" *ngFor="let movimento of movimenti$ | async">
        <app-single-mov
        [movimento]="movimento"
        ></app-single-mov>
      </div>
      <div class="d-flex justify-content-center mt-3">
        <button class="fixed-Button excel" (click)="exportToExcel()" data-bs-toggle="tooltip" data-bs-placement="top" title="Export in Excel">
          <img src="https://cdn-icons-png.flaticon.com/512/732/732066.png" alt="excel">
        </button>
        <button class="fixed-Button csv" (click)="exportToCSV()" data-bs-toggle="tooltip" data-bs-placement="top" title="Export in CSV">
          <img src="https://img.icons8.com/material-outlined/384w/export-csv.png" alt="csv">
        </button>
      </div>
    </ng-container>      
    <ng-template #noMovimenti>
      <div class="col-12">
        <div class="alert alert-warning" role="alert">
          Non ci sono movimenti da mostrare.
        </div>
      </div>
    </ng-template>
  </div>
</div>