<div>
    <div class="d-flex justify-content-between p-4">
        <h1>BENVENUTO {{(currentUser$ | async)!.fullName}} !</h1>
        <h3>SALDO ATTUALE</h3>
    </div>
    <div class="container mt-5" *ifAuthenticated>
      <div class="row">
        <div class="card mt-2">
            <div class="card-body">
              <h5 class="card-title">{{ (conto$ | async)!.iban}}</h5>
              <h6 class="card-subtitle mb-2 text-muted" >Creato: {{ (conto$ | async)!.dataApertura}}</h6>
          </div>
        </div>
      </div>
      <div class="row">
        <table class="table table-striped table-hover">
          <thead class="thead-dark">
            <tr>
              <th>Data</th>
              <th>Importo</th>
              <th>Saldo</th>
              <th>Categoria</th>
              <th>Descrizione</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let movimento of movimenti$ |async">
              <td>{{ movimento.data | date:'dd/MM/yyyy' }}</td>
              <td>{{ movimento.importo | currency:'EUR' }}</td>
              <td>{{ movimento.saldo | currency:'EUR' }}</td>
              <td>{{ movimento.categoriaMovimento.nomeCategoria }}</td>
              <td>{{ movimento.descrizioneEstesa }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
</div>