body {
    font-family: 'Lato', sans-serif;
    background-color: #ffffff; /* Sfondo bianco */
    color: #333333;
  }

  html, body {
    height: 100%; /* Assicurati che l'altezza del body e html sia al 100% */
    margin: 0; /* Rimuovi il margine predefinito */
}

.fixed-Button
{
  bottom: 10px; /* Adjust as needed */
  width: 50px; /* Imposta la larghezza */
  height: 50px; /* Imposta l'altezza */
  position: fixed;
  border-radius: 50%; 
  border-color: #333333;
  border-style: none;
  right: 20px;
}
.excel
{
  background-color: rgba(13, 255, 0, 0.521);
}
.csv
{
  bottom: 65px;
  background-color: rgba(0, 0, 255, 0.521);
}

.fixed-Button img
{
  display:initial;
  background-color: transparent;
  width: 30px;
}